<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./form.css"> -->
    <title>Login page</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        form button{
            padding: 0.6rem 2rem;
            background-color: purple;
            outline: none;
            border: 2px solid purple;
            color: white;
            border-radius: 0.2rem;
            cursor: pointer;
            font-weight: bold;
            letter-spacing: 0.1rem;
        }
        .parent{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="parent">

        <form method="post">
            <button type="submit">Login</button>
        </form>

    </div>
</body>
</html>