<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="loginform.js" defer></script>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <div class="alert">
        <span class="message"></span>
        <div class="time"></div>
    </div>
    <div>
        <form method="post" action="/">
            <h1>Login Now</h1>
            <input type="text" name="Email" placeholder="Email" required>
            <input type="password" name="Passward" placeholder="Passward" required>
            <button>Login</button>
            <p><a href="/register" id="link">Register</a></p>
        </form>
    </div>
</body>
</html>