<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="form.css">
    <script src="./register.js" defer></script>
</head>
<body>
    <div>
        <form method="post">
            <h1>Register Now</h1>
            <input type="text" name="Name" placeholder="Name" required>
            <input type="text" name="Email" placeholder="Email" required>
            <input type="password" name="setPassward" placeholder="Set Passward" required>
            <input type="text" name="confirmPassward" placeholder="Confrim Passward" required>
            <button type="submit">Register</button>
            <p><a href="/">Login</a></p>
        </form>
    </div>
</body>
</html>