*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.positioned{
    bottom: 0rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.socials div svg{
    width: 2rem;
    height: fit-content;
    fill: white;
    padding: 0.3rem;
}

.vertical-text, .socials{
    padding: 2rem;
    color: white;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}

.logo{
    display: flex;
    flex-direction: column;
    font-weight: 800;
    font-size: larger;
}

.links{
    display: flex;
    gap: 2rem;
    font-size: x-small;
    letter-spacing: 0.2rem;
}

.section{
    width: 100%;
    height: 100vh;
}

.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro_containerg{
    
    width: fit-content;
    margin: auto;
    color: rgb(115, 115, 115);
    padding: 0 !important;
}
.intro div:nth-child(1){
    word-spacing: 0.5rem;
    padding-left: 7.5rem;
}

.intro div:nth-child(2){
    font-size: 10rem;
    font-weight: 900;
    color: white;
}
.intro div:nth-child(2)::first-letter{
    letter-spacing: -0.5rem;
}
.intro div:nth-child(3) , .intro div:nth-child(4){
    word-spacing: 0.5rem;
    margin-left: 15.8rem;
    width: fit-content;
}
